<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">

            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/about">Про нас</a>
                </div>
                <div class="central_blok clearfix">
                    <!--<p class="ni_info center upper">Волинська філія</p>-->
                    <div class="ni_data">
                        <div class="earth_box">
                            <img class="earth" alt="Земля" src="/images/earth.png"/>
                            <img class="photoRRT" alt="РРТ" src="/images/logo_RRT.png"/>
                        </div>
                        <p>Регулярна трансляція телевізійного сигналу на Волині  розпочалась в березні 1959 року з ретранслятора встановленого на сторожовій вежі замку Любарта ( XV століття) в місті Луцьку.</p>
                        <p>В 1972 році було закінчено будівництво нового технічного приміщення та щогли висотою 240 метрів в місті Ковелі і 1 березня 1972 року державна комісія прийняла в експлуатацію цей об'єкт. РТС в Ковелі стала центром телевізійного мовлення на  Волині.</p>
                        <p>На той час транслювалась лише одна телевізійна програма на 5-му ТВ каналі передавачем «Якір» та дві радіопрограми в діапазоні УКХ-ЧМ радіостанцією «Дождь-2».</p>
                        <p>Сьогодні інфраструктура Волинської філії Концерну РРТ складається із 12 радіотехнічних об’єктів з висотними антенно-щогловими спорудами висотою від 50 до 240 метрів. З 5 радіотелевізійних станцій філії ведеться мовлення багатопрограмних мультиплексів МХ-1, МХ-2, МХ-3, МХ-5 в цифровому форматі DVB-T2. Забезпечення області програмами радіо здійснюється за допомогою 15 радіомовних передавачів. Загальна довжина РРЛ підприємства сягає понад 300 кілометрів.</p>
                        <p>Технічними перевагами наших станцій, що забезпечують безперебійну і якісну  роботу телекомунікаційного обладнання є гарантоване електропостачання, наявність ефективних антенно-фідерних систем та високошвидкісних ліній зв’язку, належне метрологічне забезпечення, висококваліфікований персонал з цілодобовим чергуванням.</p>
                        <p>Волинська філія Концерну РРТ є провідним телекомунікаційним оператором на обласному ринку послуг телерадіомовлення, безперебійно і якісно транслює 32 телевізійні програми та 10 радіопрограм, забезпечує передачу інформації по власних радіорелейних лініях. Послугами підприємства користуються державні та приватні телерадіокомпанії, служби органів державного управління, оператори стільникового зв'язку та ВОЛЗ, інтернет-провайдери та інші підприємства галузі, що забезпечує їм динамічний розвиток бізнесу.</p>
                        <p>Волинська філія Концерну запрошує до співпраці підприємства  усіх форм власності для організації взаємовигідного бізнесу в сфері зв’язку та телерадіомовлення.</p>
                    </div>
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
