<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">

            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/cellular">Стільниковий зв'язок</a>
                </div>
                <div class="central_blok clearfix">
                    <div class="partners_wrap">
                        <div class="partners_item">
                            <div class="partners_item_links both">
                                <div class="partners_item_link fl">
                                    <a title="Київстар" href="http://www.kyivstar.ua" target="_blank">
                                        <img alt="" src="/images/logo/previewkyivstar_116_previe.jpg">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="lifecell " href="http://www.lifecell.ua/" target="_blank">
                                        <img alt="" src="/images/logo/previewlifecell_116_previe.jpg">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Vodafone Україна " href="https://www.vodafone.ua/" target="_blank">
                                        <img alt="" src="/images/logo/previewvodafone_116_previe.jpg">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Інтертелеком" href="http://www.intertelecom.ua/" target="_blank">
                                        <img alt="" src="/images/logo/previewintertelecom_116_previe.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
