<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">

            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/distnetworks">Розподільчі мережі</a>
                </div>
                <div class="central_blok clearfix">
                    <div class="page_text ni_data">
                        <p>Передача даних – це послуга, яка забезпечує зв'язок між двома визначеними місцями замовником, незалежно від відстані між ними.</p>
                        <p>Волинська філія Концерну РРТ пропонує послуги мережі передачі даних на базі власних радіорелейних ліній та волоконно-оптичних каналів провідних операторів України з якими побудовані стики нашим підприємством.</p>
                        <p>Мережа має кільцеву топологію. Висока якість каналів і гарантована смуга пропускання дозволяє, окрім надійного доступу до інтернету, передавати пакети IPTV, голосові і відео дані.</p>
                        <p>Станом на сьогодні ми маємо можливість організувати канали зв’язку між населеними пунктами Волині, в яких розташовані наші об’єкти в найкоротші терміни.</p>
                    </div>
                    <img class="ni_img" src="/images/Digital_TV_2017-2018.jpg" alt="">
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
