<!DOCTYPE html>
<html xmlns:1="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="editphoto::editphoto_head"></head>
<body>
    <main>
        <div class="container">
            <form action="#" th:action="@{/editphoto/item/put}" th:object="${editphoto_item}" enctype="multipart/form-data" method="post">
                <input name="id" type="hidden" th:field="*{id}">
                <p>Дата<br>
                    <input name="date" type="datetime" required th:value="*{#dates.format(date,'dd.MM.yyyy HH:mm')}">
                </p>
                <p>Заголовок<br>
                    <input class="content" name="title" type="text" maxlength="255" required th:field="*{title}">
                </p>
                <p>Малюнок<br>
                    <img th:src="'/cards/photo/'+*{id}+'/'+*{filename}" alt="" style="width: 203px; height: 140px;"/>
                    <span style="font-size: 12px">Увага: розмір зображення має бути 203 х 140 пікселів!</span>
                    <input name="filename" type="hidden" required th:field="*{filename}">
                    <input name="file" type="file" accept="image/jpeg, image/png" style="width: 620px">
                </p>
                <div><input type="submit" value="Застосувати"></div>
            </form>
        </div>
    </main>
</body>
</html>
