<!DOCTYPE html>
<html xmlns:1="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="editphoto::editphoto_head"></head>
<body>
    <main>
        <div class="container">
            <form action="#" th:action="@{/editphoto/image/item/put}" th:object="${editimage_item}" enctype="multipart/form-data" method="post">
                <input name="id" type="hidden" th:field="*{id}">
                <input name="gallery" type="hidden" th:field="*{gallery}">
                <p>Малюнок<br>
                    <img th:src="'/cards/photo/'+*{gallery.id}+'/image/'+*{filename}" alt="" style="width: 203px; height: 140px;"/>
                    <span style="font-size: 12px">Увага: ширина зображення має бути 700 пікселів!</span>
                    <input name="filename" type="hidden" required th:field="*{filename}">
                    <input name="file" type="file" accept="image/jpeg, image/png" style="width: 620px">
                </p>
                <div><input type="submit" value="Застосувати"></div>
            </form>
        </div>
    </main>
</body>
</html>
