<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">
            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/fmradio">FM Радіо</a>
                </div>
                <div class="central_blok clearfix">
                    <div class="partners_wrap">
                        <div class="partners_item">
                            <div class="partners_item_links clearfix">
                                <div class="partners_item_link fl">
                                    <a title="Українське радіо" href="http://www.nrcu.gov.ua/" target="_blank">
                                        <img alt="" src="/images/logo/previewur_116_previe.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Хіт FM" href="https://www.hitfm.ua/player/" target="_blank">
                                        <img alt="" src="/images/logo/HitFM_logo.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="FM Галичина" href="http://www.galychyna.fm/" target="_blank">
                                        <img alt="" src="/images/logo/previewFM20Galichinalogo_previe.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Relax" href="https://www.radiorelax.ua/" target="_blank">
                                        <img alt="" src="/images/logo/Relax_logo.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Русское Радио Украина" href="http://www.rusradio.ua/" target="_blank">
                                        <img alt="" src="/images/logo/previewrusradio_116_previe.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="partners_item">
                            <div class="partners_item_links both">
                                <div class="partners_item_link fl">
                                    <a title="Радіо Шансон" href="http://www.shanson.ua/" target="_blank">
                                        <img alt="" src="/images/logo/previewshanson_previe.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Львівська хвиля" href="http://lviv.fm/" target="_blank">
                                        <img alt="" src="/images/logo/LvivHv_logo.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Сім'я і дім" href="http://radio.simya.com.ua/" target="_blank">
                                        <img alt="" src="/images/logo/Sid_logo.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
