<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">

            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/otherservices">Інші послуги</a>
                </div>
                <div class="central_blok clearfix">
                    <div class="page_text">
                        <p style="text-align: justify; margin-top: 0px; margin-bottom: 10px">Пропонуємо обслуговування телекомунікаційного обладнання та антенно-фідерних пристроїв (АФП):</p>
                        <!--<p style="text-align: justify; margin-bottom: 10px">Концерн РРТ здійснює розповсюдження програм телебачення всіх загальнонаціональних телевізійних каналів, мовлення яких ведуть ПАТ «Національна суспільна телерадіокомпанія України». ТОВ ТРК «Студія «1+1», ПрАТ «Телеканал «Інтер», МК ТРК «ICTV», ПрАТ «Міжнародний Медіа Центр-СТБ», ТОВ «Новий канал», ТОВ «ТРК «Україна», ПАТ «Телекомпанія «ТЕТ», ТОВ «Телестудія «Служба інформації», ТОВ «Телеодин», ПІІ ТОВ «ТРК «Експрес-Інформ», ПІІ ТОВ «ТРК «НБМ», ТОВ «ТРО «Мульті Медіа Сервіс», ТОВ «Телеканал «Тоніс», ТОВ «Телеканал «МЕГА», а також програм переважної більшості регіональних, обласних та місцевих телерадіокомпаній по території всієї держави.</p>-->
                        <!--<p style="text-align: justify; margin-left: 40px">-->
                        <ul style="text-align: justify; margin-left: 40px">
                        <!--<ul>-->
                            <li><b>Електропостачання</b>
                                <ul>
                                    <li>Вимірювання опору контуру заземлення</li>
                                    <li>Вимірювання опору ізоляції, петлі «фаза – нуль»</li>
                                    <li>Роботи з обслуговування блискавкозахисту, його покращення або заміни</li>
                                    <li>Роботи по приведенню до норми опору контуру заземлення (блискавкозахисту)</li>
                                    <li>Випробовування діелектричних засобів захисту в електроустановках до 10 кВ</li>
                                    <li>Встановлення та ремонт світлоогородження висотних споруд (СОЩ)</li>
                                </ul>
                            </li>
                            <li style="margin-top: 10px"><b>Обслуговування антенно-фідерних пристроїв (АФП)</b>
                                <ul>
                                    <li>Монтаж і демонтаж антен  BTS, РРЛ, Wi-Fi , FM і ТВ мовленя</li>
                                    <li>Юстування антен, зміна кута нахилу секторних антен</li>
                                    <li>Встановлення і демонтаж діплексорів, бустерів</li>
                                    <li>Виготовлення, монтаж і демонтаж трубостійок  GSM, Wi-Fi і РРЛ антен</li>
                                    <li>Перевірка прямої видимості для запланованого лінка</li>
                                    <li>Прокладання або демонтаж RF та UTP/FTP кабелів</li>
                                    <li>Встановлення захисту від зледеніння для АФП</li>
                                    <li>Вимірювання вертикальності щогли/вежі</li>
                                </ul>
                            </li>
                            <li style="margin-top: 10px"><b>Виміри параметрів АФП</b>
                                <ul>
                                    <li>Перевірка узгодження антен  всіх типів (прилад Rohde&Schwarz ZVH4)</li>
                                    <li>Тестування антенних підсилювачів (TMA)</li>
                                    <li>Перевірка кабелів на пошкодження і розриви</li>
                                    <li>Розрахунок втрат і визначення вихідної потужності BTS</li>
                                    <li>Діагностика цілісності з’єднань</li>
                                </ul>
                            </li>
                            <li style="margin-top: 10px"><b>Будівельні роботи</b>
                                <ul>
                                    <li>Вирівнювання-бетонування майданчика BTS</li>
                                    <li>Встановлення, переміщення контейнеру</li>
                                    <li>Внутрішнє фарбування контейнеру, ремонт підлоги, заміна лінолеуму</li>
                                    <li>Ремонт технічного фундаменту контейнера</li>
                                    <li>Встановлення зовнішнього захисту контейнера від зледеніння</li>
                                    <li>Демонтаж огорожі, встановлення огорожі, секцій огорожі</li>
                                    <li>Покрівельні роботи, відновлення гідроізолюючого покриття даху</li>
                                    <li>Виконання бітумної гідроізоляції анкерних фундаментів, фундаментів щогли</li>
                                </ul>
                            </li>
                        </ul>
                        <!--</p>-->
                    </div>
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
