<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">
            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/telecomservices">Оператори телекомунікації</a>
                </div>
                <div class="central_blok clearfix">
                    <div class="partners_wrap">
                        <div class="partners_item">
                            <div class="partners_item_links both">
                                <div class="partners_item_link fl">
                                    <a title="Датагруп" href="http://www.datagroup.ua/" target="_blank">
                                        <img alt="" src="/images/logo/preview_datagroup.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                                <div class="partners_item_link fl">
                                    <a title="Уарнет" href="http://www.uar.net/" target="_blank">
                                        <img alt="" src="/images/logo/preview_uar.jpg&#9;&#9;&#9;&#9;&#9;&#9;&#9;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
