<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="home::home_head"></head>
<body class="blue_bgc">
    <header th:replace="home::home_header"></header>
    <main class="blue_bgc">
        <div class="main_column clearfix">

            <div class="main_column_left">
                <div class="big_ref">
                    <a class="bold" href="/tvbroadcasting">Телевізійне мовлення</a>
                </div>
                <div class="central_blok clearfix">
                    <div class="page_text ni_data">
                        <p>Мало хто може собі уявити сучасне життя без телебачення. Воно допомагає нам розважатись, отримувати інформацію, навчатись та просто добре проводити час в сімейному колі. Саме розповсюдження програм телебачення ефірним методом мешканцям Волині – це головний напрямок нашої діяльності і те, задля чого створювалося підприємство.</p>
                        <p>В 2011 році Концерн РРТ в партнерстві із ТОВ «Зеонбуд» реалізував проект будівництва цифрової мережі в складі чотирьох мультиплексів МХ-1, МХ-2, МХ-3, МХ-5. Відповідно до рішень Національної ради України з питань телебачення та радіомовлення від 08.12.2010 року №№ 1724 – 1727, провайдером та оператором мереж цифрового телевізійного мовлення визначено ТОВ «Зеонбуд». Концерн РРТ забезпечив встановлення запланованої кількості цифрових телевізійних передавачів і антенно-фідерних систем на власних об’єктах та їх подальше обслуговування.</p>
                        <p>На даний момент повноцінне цифрове мовлення ведеться на 121 об’єктах Концерну РРТ. Інфраструктура телебачення Волинської філії включає в себе 5 радіотелевізійних передавальних станцій. На кожній станції встановлено по 4 цифрові телевізійні передавачі потужністю від 100 Вт до 1000 Вт, які забезпечують трансляцію 32 програм у цифровому стандарті DVB-T2.</p>
                    </div>
                    <img class="ni_img" src="/images/department_scheme.jpg" alt="">
                </div>
            </div>

            <div class="main_column_right"></div>

        </div>
    </main>
    <footer th:replace="home::home_footer"></footer>
</body>
</html>
